@import url('https://fonts.googleapis.com/css?family=Lobster|Lobster+Two:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------------------Colours */

.ui-menu-color {
    background-color: #FCF1DB;
}

.bg-color-name-title {
    background-color: #FCF1DB;
}

/*----------------------------------------Speacial paddings/margins/text */


h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #585353;
}

.inline-block {
    display: inline-block;
}


/*----------------------------------------Heading */


header {
    background-color: #FCF1DB;
    margin:0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/mainlogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FCF1DB;
    background-size: cover;
    min-height: 300px;
    max-width: 300px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    font-size: 80px;
    margin-top: 20px;
}

.title {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-left: 100px;
}

.list-inline-item:not(:last-child) {
    margin:0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    font-family: "Lobster Two", sans-serif;
    font-weight: 100;
    width: 100%;
    text-decoration: none;
    color: #585353;
    height: 120px;
    font-size: 36px;
    padding-top: 30px;
    display: block;
}

/*----------------------------------------Footer */

footer {
    background-color: #FCF1DB;
    min-height: 120px;
    margin:0;
}

.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    margin-top: 12px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #8f8f8f;
    background: #FCF1DB;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    text-align: center;
    margin-top: 12px;
    background-color: #8f8f8f;
    color: #FCF1DB;
}

#footer-details {
    padding:20px;
}


/*-----------------------------carousel*/

.carousel {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #FCF1DB;
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fafafa;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 0.8;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.3;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }
