@import url('https://fonts.googleapis.com/css?family=Lobster|Lobster+Two:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----body----*/

.column3,
.column {
    float: none;
    width: 100%;
    height: 50px;
    background-color: #FCF1DB;
    margin: 10px 0;
}

/*----------------------------------------Colours */

.ui-menu-color {
    background-color: #FCF1DB;
}

.bg-color-name-title {
    background-color: #FCF1DB;
}

.bg-color-order {
    background-color: #FCF1DB;
}

.container-fluid {
    background-color: #FCF1DB;
    margin:0;
}

/*----------------------------------------Speacial paddings/margins/text */


h2,
h3,
h4 {
    margin: 0;
}

h1,
h5 {
    margin: 0;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #654321;
}

.inline-block {
    display: inline-block;
    color: #654321;
}


/*----------------------------------------Heading */


header {
    background-color: #FCF1DB;
    margin:0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/mainlogo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FCF1DB;
    background-size: cover;
    min-height: 300px;
    max-width: 300px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    font-size: 80px;
    margin-top: 20px;
    color: #654321;
}

.title {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #654321;
}


/*----------------------------------------Menu items */

.list-inline-item:not(:last-child) {
    margin:0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.hvr-shadow-radial {
    margin-top: 40px;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    font-family: "Lobster Two", sans-serif;
    font-weight: 100;
    width: 100%;
    text-decoration: none;
    color: #654321;
    height: 120px;
    font-size: 36px;
    padding-top: 30px;
    display: block;
}

/*----------------------------------------Footer */

footer {
    background-color: #FCF1DB;
    min-height: 120px;
    margin:0;
}

.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    margin-top: 13px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #654321;
    background: #FCF1DB;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    text-align: center;
    margin-top: 12px;
    background-color: #654321;
    color: #FCF1DB;
}

#footer-details {
    padding: 20px;
}


/*-----------------------------carousel*/

.carousel-caption {
    width:100%;
    height:12%;
    left:0 !important;
    padding: 30px;
}

.carousel-caption h3 {
    text-align: left;
}


.carousel {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fff;
}

ul.slides {
    display: block;
    position: relative;
    height: 650px;
    width: inherit;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}


ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

/*---------------------------------------------------------------------------------------------------------media----------*/
@media (max-width: 767px) {
  .slide-image { 
    border: 5px;
    display: block;
    width: inherit;
  }
  .slide-image img {
    width: 100%;  
    max-width: 70%;
    height: 100%;
  }
}






.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fafafa;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 0.8;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.3;
    margin: 5px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }



/*------------------------------------Order form--------*/


.order-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #585353;
    background-color: #FCF1DB;
}

/*----------------------------------------Media Queries---------- */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}
/*---------------------------------------------------------------------------------------------------------media----------*/
/*-------------for mobile---------- */

@media (max-width: 767px) {
    .logo {
        margin-left: 8%;
        margin-right: 5%;
    }
    
    .carousel {
        margin-left: 5%;
        margin-right: 5%;
        
    }
}

/*-------------for table---------- */

@media (min-width: 768px) and (max-width: 991px) {
    .carousel {
        margin-left: 15%;
        margin-right: 15%;        
    } 
}

/*-------------for desktop---------- */

@media (min-width: 992px) {
    .carousel {
        margin-left: 24%;
        margin-right: 24%;        
    }
}


/*--------------------About Us----*/

.description {
    font-family: "Lobster Two", sans-serif;
    font-weight: 200;
    text-align: center;
    color: #654321;
    font-size: 20px;
    line-height: 1;
    max-width: 800px;
    display: inline-block;
    margin: 5% 30%;
}


/*--------------------Gallery----*/

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* ----to create two equal columns that sits next to each other --- */
.column3,
.column {
  -ms-flex: 50%;
  flex: 50%;
  padding: 2px;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  position: relative;
}

.column3 img,
.column img {
  margin-top: 3px;
  padding: 2px;
  vertical-align: middle;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.column3 img:hover,
.column img:hover {
  margin-top: 3px;
  padding: 1px;
  vertical-align: middle;
  box-shadow: 0 14px 28px rgba(0,0,0,0.50), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


@media (max-width: 767px) {
  .column {
    max-width: 60%;
    height: 100%;
    margin: 0;
  }
  .column3 {
    max-width: 60%;
    height: 100%;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    height: 100%;
  }
  .column3 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    height: 100%;
  }
  .column3 {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    height: 100%;
  }
}

/*---------------------------------------------------------------------------------------------------------media----------*/
@media (max-width: 767px) {
    .container-fluid {
        width: 100%;
 }
    .logo {
       background-size: contain;
       min-height: 200px;
    } 
 
    .name {
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-left: -27px;
    color: #654321;
    text-align: center;
 }

    .title {
    margin-left: -39px;
    margin-bottom: 10px;
 }
 
  .menuitem {
    height: 60px;
    padding: 0;
 }
 .menuitem a {
    border: 1px;
    font-size: 30px;
    padding-top: 0;
 }

 ul.slides {
     height:300px;
 }
 .hvr-shadow-radial {
    margin-top: 0px;
 }
 
 .col-sm-4 {
     padding-bottom: 10px;
 }
 
 .column3 {
    margin-top: -123px;
 }
}






@media (min-width: 768px) and (max-width: 991px) {
   .container-fluid {
        width: 100%;
    }
    
}

@media (min-width: 992px) {
  .container-fluid {
        width: 100%;
    }    
}

